{% extends "bookmodule/layouts/base.html" %}
{% load static %}

{% block title %}List{% endblock title %}
{% block content %}
<h2>Books List</h2>

   
    <p><a href="{% url 'addBook' %}">Add New Book</a></p>

    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                   
                   
                     price: {{ book.price }} -  rating: {{ book.rating }}   image: {{ book.cimage }}<br>

                    <a href="{% url 'lab10one' book.id %}">View</a> |
                    <a href="{% url 'update' book.id %}">Edit</a> |
                    <a href="{% url 'deleteBook' book.id %}">Delete</a>

                </li>
                <br>
            {% endfor %}
        </ul>
        
        
    {% else %}
        <p>No books found.</p>
    {% endif %}

    {% endblock content %}