{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <h1 style="text-align:center;">Task1</h1>
    <a href="https://www.qu.edu.sa/" target="_blank" class='s1'>Go to QU</a>
    <a href="https://www.qu.edu.sa/" target="_self" class='s2'>Go to QU</a>
    <a href="https://www.qu.edu.sa/" target="_self" class='s3'>Go to QU</a>

    <!--Task2-->
    <h1 style="text-align:center;">Task2</h1>  
    <h2 class="s4">Example of task2</h2>
    <p>this <b>text</b> using 'b'</p>
    <p>this <strong>text</strong> using 'strong'</p>
    <p>this <i>text</i> using 'i'</p>
    <p>this <em>text</em> using 'em'</p>
    <p>this <mark>text</mark> using 'mark'</p>
    <p>this <small>text</small> using 'small'</p>
    <p>this <del>text</del> using 'del'</p>
    <p>this <ins>text</ins> using 'ins'</p>
    <p>this x<sub>text</sub> using 'sub'</p>
    <p>this x<sup>text</sup> using 'sup'</p>
    <!--Task3-->
    <h1 style="text-align:center;">Task3</h1>  
    <h1 class="s5" >Example of task3 </h1>
      <ul>
        <li>First Program.</li>
        <li>benefits of HTML:</li>
        <ol>
          <li>Organizes web content.</li>
          <li>Ensures broad access.</li>
          <li>Improves search visibility.</li>
        </ol>
        <li>made by html!.</li>
      </ul>
    <!--Task4-->

    <h1 style="text-align:center;">Task3</h1>  
      <table>
        <caption>Table 1: Table of Fruits and Their Prices</caption>
        <tr>
          <th>fruit</th>
          <th>price</th>
        </tr>
        <tr>
          <td>Orange</td>
          <td>$0.50</td>
        </tr>
        <tr>
          <td>Banana</td>
          <td>$1.00</td>
        </tr>
        <tr>
          <td>Pineapple</td>
          <td>$2.00</td>
        </tr>
        <tr>
          <td>Pineapple</td>
          <td>$2.00</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>$3.75</td>
        </tr>
        
      </table>
      <br>
      <table style="border-collapse:collapse;">
        <caption>Table 2: A more complex sample table</caption>
        <tr>
            <th rowspan="2"><img src="{% static 'd.jpg' %}" alt="desert" width="150" height="150"></td>
            <th colspan="4">Camelid comparison<br>Approximate as of 6/2011</td>
        </tr>
        <tr>
            <td># of humps</td>
            <td>Indigenous region</td>
            <td>Spits?</td>
            <td>Produces wool?</td>
        </tr>
        <tr>
            <td><b>Dromedary</b></td>
            <td>1</td>
            <td>Arabian Peninsula</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><b>Camels (bactrian)</b></td>
            <td>2</td>
            <td>Africa/Asia</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><b>Llamas</b></td>
            <td>1</td>
            <td>Andes Mountains</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
      </table>

  </body>
</html>
