{% extends "bookmodule/layouts/base.html" %}
{% load static %}

{% block title %} List of Books {% endblock title %}

{% block stylesheets %}
<style>
    h1 {
        color: green;
    }
    h2 {
        color: lightskyblue;
    }
    p {
        font-family: verdana;
        font-size: 20px;
    }
</style>
{% endblock stylesheets %}

{% block content %}
    <h1>List of Books</h1>

    
    <a href="{% url 'books.view_one_book' bookId=1 %}">
        <h2>Internet & World Wide Web How to Program</h2>
    </a>
    <a href="{% url 'books.view_one_book' bookId=1 %}">
        <img src="{% static 'book1.jpg' %}" alt="Book1 img desc" width="200" height="200">
    </a>
    <hr>

    <a href="{% url 'books.view_one_book' bookId=2 %}">
        <h2>C++ How to Program, Late Objects Version</h2>
    </a>
    <a href="{% url 'books.view_one_book' bookId=2 %}">
        <img src="{% static 'book2.jpg' %}" alt="C++ How to Program, Late Objects Version" width="200" height="200">
    </a>
    <hr>

    <a href="{% url 'books.view_one_book' bookId=3 %}">
        <h2>Images in Another Folder</h2>
    </a>
    <a href="{% url 'books.view_one_book' bookId=3 %}">
        <img src="{% static 'book3.jpg' %}" alt="Images in Another Folder" width="200" height="200">
    </a>
    <hr>
{% endblock content %}
