/* Add a black background color to the top navigation */
.topnav {
  background-color: #eeeeee;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #000000;
  text-align: center;
  margin-right: 25px;
  text-decoration: none;
  font-size: 17px;
}

/* Add a color to the active/current link */
.topnav a.active{
  color: #008CBA;
}


.s1 {
  background-color: green;
  color: red;
  text-align: center;
  display: block;
  padding: 10px;
}

.s2 {
  background-color: grey;
  color: yellow;
  text-align: center;
  display: block;
  padding: 10px;
}

.s3 {
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
}

.s1:hover {
  background-color: blue;
}

.s4 {
  background-color: yellow;
  color: green;
  display: block;
}

.s5{
  background-color: green;
  color:white;
  display: block;
}
 
table,td,th{
  border:1px solid;
  text-align: center;
}